.main
{
    margin-top: 10%;
}

.Header{
padding: 20px;
box-sizing:border-box;
width: 222px;
height: 34.74px;
background: #FFFFFF;
border: 0.818739px solid #D1D5DB;
box-shadow: 0px 0.818739px 1.63748px rgba(0, 0, 0, 0.05);
border-radius: 4.91243px;
text-indent: 2px;
margin-right: 10px;
}
.Footer{
padding: 20px;
box-sizing:border-box;
width: 222px;
height: 34.74px;
background: #FFFFFF;
border: 0.818739px solid #D1D5DB;
box-shadow: 0px 0.818739px 1.63748px rgba(0, 0, 0, 0.05);
border-radius: 4.91243px;
margin-right: 10px;

}


.button {

margin-top: 20px;
border: none;
width: 477px;
height: 40px;

cursor: pointer;
color: white;
border-radius: 5px;
background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.image-div{
    margin-top: 13px;
    max-width: 100%;
    border-radius: 3%;
}


@media screen and (max-width: 767px) {
    .Header {
        margin-top: 30px;
        width: 80%;
    }

    .Footer {
        margin-top: 10px;
        width: 80%;
    }

    .button {
        width: 100%;
    }
}
.meme{
    position: relative;
}
.memetextTop{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;   
     top: 0;
}
.memetextBottom{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;   
     bottom: 0;
}


